{% extends 'layout.html' %}

{% block title %}
    Live Detection
{% endblock %}

{% block content %}
    <h1 class="mt-4"><i class="fas fa-video"></i> Dummy Live Feed - <b style="color: red;">No camera detected!</b></h1>

    <br>
    <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">Dummy Impact Detection - Connect your camera and restart application</h5>
                <div id="please-wait" style="display: none;">
                    <p><b>Please wait...</b></p>
                </div>
            </div>
            <div id="video-container" style="display: none;">
                <div class="card-body card-body-black">
                    
                        
                   
                    <div class="col-md-12 red-frame">
                        <video controls autoplay loop id="video-feed">
                            <source src="{{ url_for('static', filename='videos/dummy.mp4') }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    
                   <br>
                        <button type="button" class="btn btn-primary" onclick="zoomIn()">Zoom In (+) </button>
                        <button type="button" class="btn btn-primary" onclick="zoomOut()">Zoom Out (-)</button>
                        
                        
                </div>
            </div>
</div>
    </div>
    

{% endblock %}

{% block scripts %}
    

    <script>
        // Show "Please wait" message initially
        document.getElementById('please-wait').style.display = 'block';
    
        setTimeout(function() {
            // Hide "Please wait" message
            document.getElementById('please-wait').style.display = 'none';
    
            // Show the video container after 5 seconds
            document.getElementById('video-container').style.display = 'block';
        }, 2000); // 5000 milliseconds = 5 seconds
    </script>


    <script>
        // Function to zoom in
        function zoomIn() {
            zoom(1.1); // You can adjust the scale factor as needed
        }
    
        // Function to zoom out
        function zoomOut() {
            zoom(0.9); // You can adjust the scale factor as needed
        }
    
        function zoom(scaleFactor) {
            const videoFeed = document.getElementById('video-feed');
            const currentScale = parseFloat(videoFeed.style.transform.replace('scale(', '').replace(')', '')) || 1;
        
            // Set minimum and maximum scale values
            const minScale = 0.5; // Adjust as needed
            const maxScale = 1.0; // Adjust as needed
        
            const newScale = currentScale * scaleFactor;
        
            // Check if the new scale is within the specified range
            if (newScale >= minScale && newScale <= maxScale) {
                videoFeed.style.transform = `scale(${newScale})`;
            }
        }
    </script>
{% endblock %}
