{% extends 'layout.html' %}

{% block title %}New{% endblock %}

{% block content %}

    <h1 class="mt-4"><i class="fas fa-globe"></i> JAIID</h1>

    <div class="container-fluid">

        <div class="card text-center">
            <div class="card-header">
                <h5 class="card-title">Model Updates</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    {% if is_upgrade_available %}
                    <div id="download-container">
                        <i class="fas fa-exclamation-triangle"></i> New community model available!
                        <button id="download-button" class="btn btn-primary" onclick="downloadAndRedirect()">Download Now</button>
                    </div>
                    {% else %}
                        <div>
                            <i class="fas fa-exclamation-triangle"></i> No new community model available!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    {% endblock %}

{% block scripts %}
<script>
    function downloadAndRedirect() {
        var link = document.createElement('a');
        link.href = '{{ url_for('download_model') }}';
        //link.download = 'latest_model.pt';
        link.click();

        // Wait for the download to complete
        link.addEventListener('load', function() {
            // Display a success message using Toastr
            toastr.success('Model downloaded successfully! Please go to settings to select it.');

            // Log to console
            console.log('New model downloaded!');
            
            // Redirect to the 'versioncheck' route after a delay
            setTimeout(function() {
                window.location.href = '{{ url_for('versioncheck') }}';
            }, 1000);  // Adjust the delay as needed
        });
    }
</script>

{% endblock %}

